<!DOCTYPE html>
<html lang="pl">

<HEAD>
	<title>Wynajem Łodzi</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin">
    <link rel="stylesheet" href="styl.css" type="text/css" />
</HEAD>
<BODY> 

	<section class="top_slider"><!-- Obraz na calej dlugosci + LOGO --> 

	    <div id="slideshow">
			<div class="slides"><img src="./images/Pasek.jpg" class="slide_img" /></div>
		</div>

		<div class="logo" >
 			<a href="index.html"><img src="./images/logo.jpg" ></a>
		</div>		

	</section>


	<div class="menu_top">  <!-- Przyciski przechodzenia pomiędzy podstronami  -->
		<nav class="menu">
 		
				<ul>
 
					<li><a href="#">O NAS</a></li>
					<li><a href="#">OFERTA</a></li>
					<li><a href="#">PORTFOLIO</a></li>
					<li><a href="#">KONTAKT</a></li>
 
				</ul>

			</nav>
	</div>

	<div class="menu_left">
		<script type="text/javascript">

		function handleClick(evt) {
		  var node = evt.target || evt.srcElement;
		  if (node.name == 'edit') {
		    node.value = "Modify";
		  }
		}

		</script>

		<table id="table1" border="1" onclick="handleClick(event);">
		    <tbody>
		       <tr> 
		           <td>
		               <form name="f1" action="#" >
		                	<input id="edit1" type="submit" name="edit" value="Edit" onclick="window.location.href='/page2'">
		               </form>
		        
		           <td>
		               <form name="f2" action="#" >
		                <input id="edit2" type="submit" name="edit" value="Edit" onclick="window.location.href='/page2'>
		               </form>
		        
		           <td>
		               <form name="f3" action="#" >
		                <input id="edit3" type="submit" name="edit" value="Edit onclick="window.location.href='/page2'">
		               </form>

		   </tbody>
		</table>
	</div>


	<div class="main">
		xD
	</div>









	<footer>
		<div class="footer">
 			<p>Wykonał: Adrian Socha | z:706 | index:008919</p>
		</div>
	</footer>
</BODY>
