body {
  background-color: #EDE7F6;
  font-family: Arial, Helvetica, sans-serif;
}
img { 
  width: 100%;
  height: auto;
}
.top_slider {
	width: 100%;
	height: 30%;
	background-color: #D7DEE6;
	overflow: hidden;
	border: 2px solid #333;
 
}

 
.slide_img {
	display: block;
	width: 100%;
	height: 25vh;
	z-index: 1;
	object-fit: cover;
}
.logo {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 95px;
	height: 95px;
	z-index: 2;
	border: 2px solid #333;
}

.navbar {
	display: block;
	width: 100%;
	z-index: 3;
	overflow: hidden;
 	background-color: #333;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: red;
}

.main {
	margin: 2em;
	background-color: #D7DEE6;
	border: 2px solid #333;
}

.yacht_container {
	background-color:#D7DEE6;
	border: 2px solid #333;
	padding: 2px;
	display: flex;
	align-items: stretch;
}
.yacht_container div {
	flex-grow: 1;
	min-height: 11em;
	margin: 2px;
	border: 2px solid #333;
}

.yacht_photo {
	background-color:#9fb2c7;
	max-width: 30%;
}
.yacht_data {
	background-color:#a8c6eb;
	padding: 0.5em;
}
.yacht_containe_button{
	height: 2em;
	background-color:#1466c4;
	padding: 0.5em;
}
.yacht_booking div {
	display: flex;
}
.basic_information{
	width: 105%;
	height: auto;
	background-color: #D7DEE6;
	border: 2px solid #333;
	padding: 2%;
	
	margin:-3%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D7DEE6;
  text-align: center;
  border: 2px solid #333;
}





