<!DOCTYPE html>
<html lang="pl">
{% load static %}
{% block head %}
<head>
	<title>Wynajem Łodzi</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin">
    <link rel="stylesheet" href="{% static 'styl.css' %}" type="text/css" />
</head>
{% endblock %}
<body> 

	<section class="top_slider"><!-- Obraz na calej dlugosci + LOGO --> 

	    <div id="slideshow">
			<div class="slides"><img src="{% static 'images/Pasek.jpg'%}" class="slide_img" /></div>
		</div>

 		<a href="/"><img class="logo" src="{% static 'images/logo.jpg'%}" ></a>

	</section>


<div class="navbar">
	<a href="/">Strona główna</a>
	<a href="">O nas</a>
	<a href="">Kontakt</a>

</div>



	<div class="main">
        {% block content %}{% endblock %}
        
	</div>



	<footer>
		<div class="footer">
 			<p>Wykonał: Adrian Socha | z:706 | index:008919</p>
		</div>
	</footer>
</body>
