{% extends 'YachtsApp/basic.html' %}
{% load static %}
{% block content %}
{% if all_yachts %}
    {% for yacht in all_yachts %}</br>
        <div class="yacht_container">
            <div class="yacht_photo">
                {% with img_src='images/yacht-'|add:yacht.name|add:'.jpg' %}
                <img src="{% static img_src %}">
                {% endwith %}
            </div>

            <div class="yacht_data">
                Nazwa: {{ yacht.name }}</br>
                Typ: {{ yacht.type }}</br>
                Rok produkcji: {{ yacht.year_of_production }}<br/>
                Silnik: {{ yacht.engine_power }}</br>
                Długość: {{ yacht.length }}</br>
                Szerokość: {{ yacht.width }}</br>
                Masa: {{ yacht.mass_kg }}kg</br>
                Cena: {{yacht.price}}zł</br>
                Opis: {{yacht.description}}</br>
            </div>
            <a href="./yachts/{{yacht.id}}" ><div class="yacht_containe_button">
                WYNAJMIJ
            </div></a>
        </div>
    {% endfor %}
{% else %}
    <p>No yachts are available.</p>
{% endif %}
{% endblock %}